@model IEnumerable<Dental_Clinic.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Список посещений</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<p>
    <a asp-action="CreateFileCSV">Экспорт в CSV</a>
    <a asp-action="CreateFileTXT">Экспорт в TXT</a>
    <a asp-action="CreateFileXML">Экспорт в XML</a>
    <a asp-action="CreateFileJSON">Экспорт в JSON</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dateVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedTreatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedTreatment.treatmentName)
            </td>
            <td>
                @if (User.IsInRole("Doctor") || User.IsInRole("HeadDoctor"))
                {
                    <a asp-action="Edit" asp-route-id="@item.id">Обновить</a> 
                    <a asp-action="Details" asp-route-id="@item.id">Подробности</a>
                    <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
