@model IEnumerable<Dental_Clinic.Models.ListPrepforTreatment>

@{
    ViewData["Title"] = "Index";
}

<h1>Список лекарств назаначеных на лечение</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedTreatmentid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicationid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amountMedications)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedTreatment.treatmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amountMedications)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Обновить</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
