@model IEnumerable<Dental_Clinic.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Список врачей</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.surName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.middleName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.surName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middleName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.postName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Обновить</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
